<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width'>
        <title>capstone</title>
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script defer src="https://mauriciopoppe.github.io/function-plot/js/function-plot.js"></script>
        <script defer src="https://d3js.org/d3.v3.min.js"></script>
        <script defer src='/math.js'></script>
        <script defer src="/themes.js"></script>
        
    </head>

    <body>
        <!--<h1>Light Modeling</h1>-->
        <div id = 'inputFields'>
            <div class='inputField'>
                <h1>color</h1>
                <select name='color' id='color'>
                    <option><%= color %></option>
                    <option value='---'>---</option>
                    <option value='red'>red</option>
                    <option value='orange'>orange</option>
                    <option value='yellow'>yellow</option>
                    <option value='green'>green</option>
                    <option value='cyan'>cyan</option>
                    <option value='blue'>blue</option>
                    <option value='violet'>violet</option>
                    
                </select>
            </div>
            <div class='inputField'>
                <h1>wavelength</h1>
                <input placeholder='wavelength' spellcheck='false' type='number' min='0' id='inputWavelength' value=<%= wavelength %>>
                <p>nanometers (nm)</p>
            </div>
            <div class='inputField'>
                <h1>frequency</h1>
                <input placeholder='frequency' spellcheck='false' type='number' min = '0' id='inputFrequency' value=<%= frequency %>>
                <p>hertz (Hz)</p>
            </div>
            <div class='inputField'>
                <h1>energy</h1>
                <input placeholder='energy' spellcheck='false' type='number' min = '0' id='inputEnergy' value=<%= energy %>>
                <p>joules (J)</p>
            </div>
            <a href="/" class="close" id='toSettings'> <!--not to settings, but back to index-->
                <div class="one"></div>
                <div class="three"></div>
                <div class="two"></div>
            </a>
        </div>
        <div class="sections">

            <h1 class='sectionTitle'>settings</h1>
            <h2>theme</h2>
                <div class="inputField">
                    <select name="theme" id="themeList">
                        <option value="monokai">monokai</option>
                        <option value="light">light</option>
                        <option value="dark">dark</option>
                        <option value="moonlight">moonlight</option>
                        <option value="strawberry">strawberry</option>
                    </select>
                </div>
            <h1 class="sectionTitle">math</h1>
            <h2>formulas</h2>
                <p>wavelength:  c = λν</p>
                <p>energy: E = hν</p>
            <h2>variables</h2>
                <p>λ = wavelength (m)</p>
                <p>ν = frequency (Hz) (waves per second)</p>
                <p>E = energy (J)</p>
            <h2>values used in javascript calculations</h2>
                <p>c = speed of light = 3e8</p>
                <p>h = Planck's constant = 6.6261e-34</p>
            <h2>conversions</h2>
                <p>1 kJ = 1000 J</p>
                <p>1 m = 1e9 nm</p>
            <h2>credit</h2>
                <a href="https://github.com/lucasotanez">my-github</a>
                <a href="https://github.com/mauriciopoppe/function-plot">function-plot</a>
        </div>
        
        
        
    </body>
</html>